*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.parent
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh minmax(100vh,auto) 40vh;
}
header{
    position: sticky;
    top: 0;
    background-color: #fff;
}
a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: rgba(128, 128, 128, 0.485);
}
a:hover{
    color: #FF3272;
    transition: .6s;
}



/* .........Navbar///////// */




nav{
    height: 20vh;
    width: 100%;
    position: relative;
}
.list{
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 65px;
    color: black;
    cursor: pointer;
}
nav ul{
    list-style: none;
    position: absolute;
    right: 120px;
    top: 70px;
}
nav .home{
    float: left;
    margin-left: 30px;
    font-size: .8rem;
    font-weight: bolder;
    cursor: pointer;
    height: 50px;
    position: relative;
}
nav .home:nth-child(1){
    color: #FF3272;
}
.dropul{
    position: absolute;
    left: 0;
    width: 15vw;
    background-color: #fff;
    top: 50px;
    display: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.186);
}
.dropul li{
    border-top: 1px solid rgba(128, 128, 128, 0.443);
    padding: 13px 15px;
    padding-left: 12px;
    color: rgba(128, 128, 128, 0.785);
    position: relative;
    overflow: hidden;
}
.dropul li:nth-child(1){
    border-top: 2px solid #FF3272;
}
.dropul li:hover{
    color: #FF3272;
    transition: .6s;
}
.dropul li::after{
    height: 100%;
    width: 50%;
    position: absolute;
    content: '';
    left: -50%;
    background-color: #ff327399;
    top: 0;
}
.dropul li:hover::after{
    left: 100%;
    transition: .7s;
    opacity: 0;
}
nav .home:hover .dropul{
    display: block;
    transition: .8s;
}
nav img{
    position: absolute;
    left: 5%;
    top: 60px;
    cursor: pointer;
}




/* .......MAIN........ */



main{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
}
.box{
    background-image: url(./pg-4-img/1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.box{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.box h1{
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    align-self: last baseline;
    text-align: center  ;
}
.box span{
    color: #ED4F4E;
    font-weight: bolder;
}
.box h3{
    color: white;
    text-align: center;
    align-self:flex-start;
}
#box-2{
    background-image: url(./pg-4-img/2.jpg);
}
#box-3{
    background-image: url(./pg-4-img/3.jpg);
}
#box-4{
    background-image: url(./pg-4-img/4.jpg);
}
#box-5{
    background-image: url(./pg-4-img/5.jpg);
}
#box-6{
    background-image: url(./pg-4-img/6.jpg);
}
        

        /* ............... */

#box-2 span{
    color:#EFF092;
}
#box-3 span{
    color: #0158C1;
}
#box-4 span{
    color:#59DF96;
}
#box-5 span{
    color:#EE5EB3;
}
#box-6 span{
    color:#9594CE;
}






/* ......FOOTER........ */






footer{
    background-color: #F4F9FF;

}
.footer{
    position: relative;
    height: 32vh;
    width: 26vw;
    margin:0px auto;
}
.footer img{
    position: absolute;
    left: 25%;
    top: 50px;
    cursor: pointer;
} 
.footer h6{
    position: absolute;
    left: 25px;
    font-size: 1vw;
    top: 120px;
    color: #000000ab;
}
.footer i{
    position: relative;
    margin-left: 20px;
    font-size: 1vw;
    left: 20%;
    transition: .8s;
    cursor: pointer;
    top: 80%;
}
.insta{
    position: relative;
    margin-left: 20px;
    font-size: 1vw;
    top: 70px;
    left: 5%;
    transition: .8s;
    cursor: pointer;
}
.insta:hover{
    color: #FF3271;
    transition: .8s;
}  


/* ...........E N D......... */